/* Set the color scheme */
:root{
    --bs-primary: yellow;
    --bs-dark: #afafaf;
    --bs-body-secondary: #c11;
}

/* timeline  */

.timeline {
    margin-left: 5%;
    border-left: 2px solid black;
    padding-left: 1.5rem;
    position: relative;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
    max-width: 100%;
}

/* timeline dot */
.timeline-item::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -2.1rem;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 0 0 2px white;
}

/* floating action button */
.fab {
    position: fixed;
    right: 15px;
    bottom: calc(20px + env(safe-area-inset-bottom));

    z-index: 1;

    width: 56px;
    height: 56px;
    border-radius: 50%;

    border: none;
    font-size: 24px;

    box-shadow: 0 6px 12px rgba(0,0,0,0.2);

    cursor: pointer;

    transform: translateZ(0);
    will-change: transform;

    transition: transform 0.2s ease-in-out;
}

/* card accordion */

.accordion-button:not(collapsed) {
    background-color: white !important;
}

.accordion-button:active, .accordion-button:visited, .accordion-button:link {
    background-color: white !important;
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 8px !important;
}

/* Portfolio cards */

.hover-lift {
    transition: transform 0.3s ease;
}

.hover-lift:hover {
    transform: scale(1.02) translateY(-5px) translateX(0);
}

/* Mobile adjustment */

@media (max-width: 768px) {
    .timeline {
        margin-left: 0;
        padding-left: 1rem;
        border-left: 2px solid black;
    }

    .timeline-item::before {
        left: -1.5rem;
        width: 12px;
        height: 12px;
    }
}

/* Modal style */

.project-modal h2 {
    padding-bottom: none;
    font-weight: 500;
}

.project-modal p,
.project-modal li {
    font-size: larger;
    font-weight: 300;
}