/* Set the color scheme */
:root{
    --bs-primary: yellow;
    --bs-dark: #afafaf;
    --bs-body-secondary: #c11;
}

/* timeline  */

.timeline {
    margin-left: 1rem;
    border-left: 2px solid black;
    padding-left: 1.5rem;
    position: relative;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
}

/* timeline dot */
.timeline-item::before{
    content: '';
    position: absolute;
    top: 35%;
    left: -1.8rem;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 0 0 2px white;
}