{% extends 'layout.html' %}
{% block title %}About Me{% endblock %}
{% block content %}
<div class="container-fluid ms-3 p-3">
    <div class="row">

        <!-- Content -->
        <div class="col-9">

            <!-- Opening paragraph -->
            <div class="container-fluid">
                <h1 class="display-4 fs-1 fw-medium">{{ about.opening.title }}</h1>
                {% for p in about.opening.paragraph %}
                <p class="lead fs-6"> {{ p }}</p>
                {% endfor %}
            </div>

            <!-- Content sections -->

            <!-- Experience section -->
            <div class="container-fluid">
                <h2 class="display-6 fs-2 fw-medium" id="experience">Experience</h2>
                <p  class="small fw-light">{{ about.experience.intro }}</p>

                <!-- Career subsection -->
                <div class="container-fluid ps-6">
                    <h3 class="display-6 fs-4 fw-medium" id="career">Career</h3>
                    <div class="timeline fw-light">
                        {% for job in about.experience.career %}
                        <div class="timeline-item card shadow w-75">
                            <div class="card-body">
                                <h3 class="card-title fs-5 fw-medium mb-3">
                                    {{ job.title }}
                                </h3>
                                <h4 class="card-subtitle small mb-2 fw-normal text-body-secondary">
                                    {{ job.place }}
                                </h4>
                                <h5 class="card-title small mb-2 fw-normal text-body-secondary">
                                    {{ job.period }}
                                </h5>
                                <div class="accordion accordion-flush" id="accordionExample">
                                    <div class="accordion-item border-0">
                                        <p class="accordion-header">
                                            <button class="accordion-button collapsed px-0 py-0 fs-6 fw-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}">
                                                <p class="small mb-0">
                                                    Description
                                                </p>
                                            </button>
                                        </p>
                                        <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body px-0 pt-2 pb-0 small">
                                                {{job.description}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <!-- Education subsection -->
                    <h3 class="display-6 fs-4 fw-medium" id="education">Education</h3>
                    <div class="timeline fw-light">
                        {% for job in about.experience.education %}
                        <div class="timeline-item card shadow w-75">
                            <div class="card-body">
                                <h3 class="card-title fs-5 fw-medium mb-3">
                                    {{ job.place }}
                                </h3>
                                <h4 class="card-subtitle small mb-2 fw-normal text-body-secondary">
                                    {{ job.major }}
                                </h4>
                                <h5 class="card-subtitle small mb-2 fw-normal text-body-secondary">
                                    {{ job.time}}
                                </h5>
                                <div class="accordion accordion-flush" id="accordionExample">
                                    <div class="accordion-item border-0">
                                        <p class="accordion-header">
                                            <button class="accordion-button collapsed px-0 py-0 fs-6 fw-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}">
                                                <p class="small mb-0">
                                                    Description
                                                </p>
                                            </button>
                                        </p>
                                        <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body px-0 pt-2 pb-0 small">
                                                {{job.description}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Certification subection -->
                    <h3 class="display-6 fs-4 fw-medium" id="certification">Certification</h3>
                    <div class="timeline fw-light">
                        {% for job in about.experience.certification %}
                        <div class="timeline-item card shadow w-75">
                            <div class="card-body">
                                <h3 class="card-title fs-5 fw-medium mb-3">
                                    {{ job.title }}
                                </h3>
                                <h4 class="card-subtitle small mb-2 fw-normal text-body-secondary">
                                    {{ job.publisher }}
                                </h4>
                                <h5 class="card-subtitle small mb-2 fw-normal text-body-secondary">
                                    {{ job.time }}
                                </h5>
                                <div class="accordion accordion-flush" id="accordionExample">
                                    <div class="accordion-item border-0">
                                        <p class="accordion-header">
                                            <button class="accordion-button collapsed px-0 py-0 fs-6 fw-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}">
                                                <p class="small mb-0">
                                                    Description
                                                </p>
                                            </button>
                                        </p>
                                        <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body px-0 pt-2 pb-0 small">
                                                {{job.description}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Volunteer subsection -->
                    <h3 class="display-6 fs-4 fw-medium" id="volunteer">Volunteer</h3>
                    <div class="timeline fw-light">
                        {% for job in about.experience.volunteer %}
                        <div class="timeline-item card shadow w-75">
                            <div class="card-body">
                                <h3 class="card-title fs-5 mb-3 fw-medium">
                                    {{ job.activity }}
                                </h3>
                                <h4 class="card-subtitle small mb-2 fw-normal text-body-secondary">
                                    {{ job.place }}
                                </h4>
                                <h5 class="card-subtitle small mb-2 fw-normal text-body-secondary">
                                    {{ job.time }}
                                </h5>
                                <div class="accordion accordion-flush" id="accordionExample">
                                    <div class="accordion-item border-0">
                                        <p class="accordion-header">
                                            <button class="accordion-button collapsed px-0 py-0 fs-6 fw-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}">
                                                <p class="small mb-0">
                                                    Description
                                                </p>
                                            </button>
                                        </p>
                                        <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body px-0 pt-2 pb-0 small">
                                                {{job.description}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Other experience subsection -->
                    <h3 class="display-6 fs-4 fw-medium" id="oth-exp">Other</h3>
                    <div class="timeline fw-light">
                        {% for job in about.experience.other %}
                        <div class="timeline-item card shadow w-75">
                            <div class="card-body">
                                <h3 class="card-title fs-5 mb-3 fw-medium">
                                    {{ job.activity }}
                                </h3>
                                <h4 class="card-subtitle small mb-2 fw-normal text-body-secondary">
                                    {{ job.explain }}
                                </h4>
                                <h5 class="card-subtitle small mb-2 fw-normal text-body-secondary">
                                    {{ job.time }}
                                </h5>
                                <div class="accordion accordion-flush" id="accordionExample">
                                    <div class="accordion-item border-0">
                                        <p class="accordion-header">
                                            <button class="accordion-button collapsed px-0 py-0 fs-6 fw-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}">
                                                <p class="small mb-0">
                                                    Description
                                                </p>
                                            </button>
                                        </p>
                                        <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body px-0 pt-2 pb-0 small">
                                                {{job.description}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Skills section -->
            <div id="skills">
                <h2>Skills</h2>
                <p  class="small">{{ about.skills.intro }}</p>
                {% for category in about.skills.categories %}
                <h3>{{category.name}}</h3>
                <ul>
                    {% for skill in category.tools %}
                    <li>{{ skill }}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
                <h2>Personal</h2>
                <p class="small">{{ about.personal.intro }}</p>
                {% for hobby in about.personal.hobbies %}
                <h3>{{ hobby.name }}</h3>
                <ul>
                    {% for desc in hobby %}
                    <li>{{desc}}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>


        </div>

        <!-- Table of content -->
        <div class="col-3">
            <nav id="toc" class="h-100 flex-column align-items-stretch ps-4 border-start">
                <div class="position-sticky top-0 pt-3 small fw-light">
                    <h6>On this Page</h6>
                    <a href="#experience" class="nav-link">Experience</a>
                    <a href="#career" class="nav-link ms-3 my-1">Career</a>
                    <a href="#education" class="nav-link ms-3 my-1">Education</a>
                    <a href="#certification" class="nav-link ms-3 my-1">Certification</a>
                    <a href="#volunteer" class="nav-link ms-3 my-1">Volunteer</a>
                    <a href="#oth-exp" class="nav-link ms-3 my-1">Other experience</a>
                    <a href="#skills" class="nav-link">Skills</a>
                    <a href="#personal" class="nav-link">Personal</a>
                </div>
            </nav>          
        </div>
    </div>
</div>
{% endblock%}