{% extends 'layout.html' %}
{% block title %}My Personal Web{% endblock %}
{% block content %}
<main class="g-0">
    <div class="bg-body-secondary py-4">
        <div class="container col-xxl-8 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-1 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img
                        class="d-none d-md-block mx-lg-auto img-fluid" 
                        src="{{ url_for('static', filename='eyeglasses.svg') }}"
                        alt=""
                        width="108"
                        height="108"
                    />
                </div>
                <div class="col-lg-6 text-end border-end border-4 border-black px-5">
                    <h1 class="display-1 fw-normal text-body-emphasis">Hi!</h1>
                    <p class="lead mb-2 fs-4">Welcome to my personal web</p>
                    <p class="lead mb-4 fs-6">Just a small space to document my journey.<br> Get to know me better</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-body-tertiary py-4">
        <div class="container col-xxl-8 px-4">
            <div class="row align-items-center g-1 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img
                        class="d-none d-md-block mx-lg-auto img-fluid" 
                        src="{{ url_for('static', filename='person-arms-up.svg') }}"
                        alt=""
                        width="108"
                        height="108"
                    />
                </div>
                <div class="col-lg-6 text-start border-start border-4 border-black px-5">
                    <h2 class="display-5 fw-normal mb-4 text-body-emphasis">Who am I</h2>
                    <p class="lead mb-4 fs-5">A GIS Professional and developer dedicated to extracting meaningful insight from environmental data.
                        Bridging the gap between technology and conservation has always been my dream. Outside the terminal
                        you'll likely find me staying active through sports.</p>
                    <a href="{{ url_for('about') }}" class="btn btn-outline-secondary button-lg px-2">Explore more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-body-secondary py-4">
        <div class="container col-xxl-8 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-1 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img
                        class="d-none d-md-block mx-lg-auto img-fluid" 
                        src="{{ url_for('static', filename='globe-americas.svg') }}"
                        alt=""
                        width="108"
                        height="108"
                    />
                </div>
                <div class="col-lg-6 text-end border-end border-4 border-black px-5">
                    <h2 class="display-5 fw-normal mb-4 text-body-emphasis">Recent Work</h2>
                    <p class="lead mb-4 fs-5">From spatial analysis to automated data pipelines.<br>
                            Take a look at how i'm streamlining data management for conservation.</p>
                    <a href="{{ url_for('portfolio') }}" class="btn btn-outline-secondary button-lg px-2">Explore more</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}