<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portofolio</title>
</head>
<body>
    <header>
        <h1>Personal Portofolio</h1>
        <nav>
            <ul>
                <li><a href="#profile">Profile</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="profile">
            <h2>Profile</h2>
        </section>
        <section id="projects">
            <h2>Projects</h2>
        </section>
    </main>
    <footer>
        <div id="contact">
            <h2>Contact</h2>
            <address>
                <a href="tel:6282210369181">082210369181</a><br>
                <a href="mailto:giovannipaluzi@gmail.com">giovannipaluzi@gmail.com</a>
            </address>
        </div>
    </footer>
</body>
</html>