{% extends 'layout.html' %}
{% block title %}About Me{% endblock %}
{% block content %}
<div class="container-fluid ms-3 p-3">
    <div class="row">

        <!-- Content -->
        <div class="col-12 col-md-9">

            <!-- Opening paragraph -->
            <div class="container-fluid py-2 pe-4 pe-md-2">
                <h1 class="display-4 display-md-2 fw-normal" id="overview">Overview</h1>
                <p class="lead">
                    a GIS Specialist and Junior Developer with 3 years work experience, dedicated to building technical bridges between environmental conservation and software development.
                </p>
                <p class="lead">
                    Having spent years in conservation sector, I saw a recurring need for better automation and user-friendly tools for field researchers. This led me to pivot from a traditional forestry path into the world of software development, focusing on geospatial system and Python-based applications. I am driven by the process of continuous improvement and technical refinement, whether I am optimizing a data pipeline or building a custom web application.
                </p>
            </div>

            <!-- Experience section -->
            <div class="container-fluid py-2 px-4 pe-md-2">
                <h2 class="display-5 display-md-3 fw-normal" id="experience">Experience</h2>
                <p  class="lead">
                    Brief documentation about my journey.
                </p>

                <!-- Experience ard template -->
                <div class="container-fluid ps-0 ps-md-3">
                    {% for experience in experiences %}
                    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
                        <h3 id="{{experience.id}}" class="display-6 fw-normal mb-0">
                            {{experience.label}}
                        </h3>
                        {% if loop.first %}
                        <form action="/about" method="get" class="ms-auto">
                            <select name="exp_filter" class="form-select" onchange="this.form.submit()">
                                <option value="all" {% if active_filter == 'all' %}selected{% endif %}>
                                    All Experience
                                </option>
                                <option value="last5" {% if active_filter == 'last5' %}selected{% endif %}>
                                    Last 5 Years
                                </option>
                            </select>
                        </form>
                        {% endif %}
                    </div>

                    <div class="timeline fw-light py-3 my-1">
                            {% for data in experience.data %}
                            <div class="timeline-item">
                                <div class="card hover-lift shadow-sm">
                                    <div class="card-body">
                                        <!-- Highlight logic -->
                                        {% if experience.highlight == 'organization' %}
                                        <h4 class="card-title fs-3 fw-medium mb-2">
                                            {{ data.data.organization }}
                                        </h4>
                                        <p class="card-subtitle fs-5 mb-2 fw-normal text-body-secondary">
                                            {{ data.data.name}}
                                        </p>
                                        {% else %}
                                        <h4 class="card-title fs-3 fw-medium mb-2">{{ data.data.name }}</h4>
                                        <p class="card-subtitle fs-5 mb-2 fw-normal text-body-secondary">
                                            {{ data.data.organization}}
                                        </p>
                                        {% endif %}

                                        <!-- Date logic -->
                                        <p class="card-subtitle fs-5 mb-2 fw-normal text-body-secondary">
                                        {% if data.year_only %}
                                            {{ data.data.start_date.strftime('%Y') }} - 
                                            {{ data.data.end_date.strftime('%Y') if data.data.end_date else 'Present'}}
                                        {% else %}
                                            {{ data.data.start_date.strftime('%b %Y') }} - {{ data.data.end_date.strftime('%b %Y') if data.data.end_date else 'Present' }}
                                        </p>
                                        {% endif %}
                                        <div class="accordion accordion-flush" id="accordion-{{ experience.label }}-{{ loop.index }}">
                                            <div class="accordion-item border-0">
                                                <p class="accordion-header">
                                                    <button class="accordion-button collapsed px-0 py-0 fs-5 mb-0 fw-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ experience.label }}-{{ loop.index }}">
                                                    Description
                                                    </button>
                                                </p>
                                                <div class="accordion-collapse collapse" id="collapse-{{ experience.label }}-{{ loop.index }}" data-bs-parent="#accordion-{{ experience.label }}-{{ loop.index }}">
                                                    {{ data.data.description }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Skills section -->
            <div class="container-fluid px-4 py-5" id="skills">
                <h2 class="display-5 fw-normal" id="skills">Skills</h2>
                <p  class="lead">
                    Tools that i used to face environmental problems.
                </p>

                <!-- Skills card -->
                {% for skill_name, skill_item in skills.items() %}
                <div class="container-fluid mb-5">
                    <div class="card hover-lift shadow my-4" id="{{ skill_name | lower   | replace(' ', '-') }}">
                        <div class="card-header">
                            <h3 class="display-6 fw-normal">{{ skill_name }}</h3>
                        </div>
                        <div class="card-body row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-5 p-5">
                            {% for skill in skill_item %}
                            <div class="col d-flex align-items-start">
                                <div>
                                    <div class="d-flex align-items-end justify-content-between">
                                        <h4 class="display-5 fw-semibold mb-0 fs-3 text-body-emphasis">
                                            {{ skill.name }}
                                        </h4>
                                        <span class="text-muted small">
                                            {{ skill.level.capitalize() }}
                                        </span>
                                    </div>
                                    <div class="progress my-2" style="height: 6px;">
                                        <div class="progress-bar bg-secondary" style="width: {{ skill.confidence | int }}%;"></div>
                                    </div>
                                    <p>
                                        {{ skill.summary }}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Table of content -->
        <div class="col-12 col-md-3">
            <nav id="toc" class="h-100 flex-column align-items-stretch ps-4 border-start d-none d-md-block">
                <div class="position-sticky top-0 pt-3 fs-5 fw-light">
                    <h6 class="fs-4">On this Page</h6>
                    <a href="#overview" class="nav-link">Overview</a>
                    <a href="#experience" class="nav-link">Experience</a>
                    {% for experience in experiences %}
                    <a href="#{{ experience.id }}" class="nav-link ms-3 my-1">
                        {{ experience.label }}
                    </a>
                    {% endfor %}
                    <a href="#skills" class="nav-link">Skills</a>
                    {% for skill_name, skill_item in skills.items() %}
                    <a href="#{{ skill_name | lower | replace(' ', '-') }}" class="nav-link ms-3 my-1">
                        {{ skill_name }}
                    </a>
                    {% endfor %}
                </div>
            </nav>          
        </div>
    </div>
</div>
{% endblock%}