{% extends 'layout.html' %}
{% block title %}About Me{% endblock %}
{% block content%}
<section class="container py-1 text-center">
    <div class="row py-lg-5 py-md-4 py-sm-2">
        <div class="col-lg-10 col-md-8 mx-auto">
            <h1 class="display-6 fw-normal mb-3">Project Repository</h1>
            <p class="lead fs-5">
                Centralized container for my works in GIS and app development. It serves as a digital album documenting how i face environmental data or develop creative coding solutions.
            </p>
            <strong>I'm working with this page. Come back soon~</strong>
        </div>
    </div>
</section>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-5 p-5">
        <div class="col">
            <div class="card shadow hover-lift">
                <img 
                src="https://cdn.pixabay.com/photo/2018/02/22/18/21/laptop-3173613_1280.png" 
                alt="code" 
                class="card-img-top"
                />
                <div class="card-body">
                    <h2 class="card-title">Personal Portofolio</h2>
                    <a href="{{ url_for('first_portfolio') }}" class="card-text stretched-link text-decoration-none text-reset">Flask-based platform as a container of my works.</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}