{% extends 'layout.html' %}
{% block title %}Portfolio{% endblock %}
{% block content %}
<section class="container py-1 text-center">
    <div class="row py-lg-5 py-md-4 py-sm-2">
        <div class="col-lg-10 col-md-8 mx-auto">
            <h1 class="display-6 fw-normal mb-3">Project Repository</h1>
            <p class="lead fs-5">
                Centralized container for my works in GIS and app development. It serves as a digital album documenting how i face environmental data or develop creative coding solutions.
            </p>
            <strong>I'm working with this page. Come back soon~</strong>
        </div>
    </div>
</section>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-5 p-5">
        <div class="col">
            <div class="card shadow hover-lift">
                <img 
                src="https://cdn.pixabay.com/photo/2018/02/22/18/21/laptop-3173613_1280.png" 
                alt="code" 
                class="card-img-top placeholder-glow"
                />
                <div class="card-body">
                    <h2 class="card-title">Personal Portofolio</h2>
                    <a 
                    href="#" 
                    class="card-text stretched-link text-decoration-none text-reset project-link"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                        Flask-based platform as a container of my works.
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Personal Portfolio</h5>
                <a href="{{ url_for('portfolio') }}" class="btn-close" data-bs-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
            </div>
        </div>
    </div>
</div>
{% endblock%}