{% for project in projects %}
<div class="modal modal-fade" id="{{ project.slug }}" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1>
                    {{ project.title }}
                </h1>
                <a href="{{ url_for('portfolio') }}" class="btn-close" data-bs-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                {% if project.hero_url %}
                <div class="ratio ratio-21x9">
                    <img 
                    src="{{ project.hero_url }}" 
                    alt="{{ project.hero_alt }}"
                    class="img-fluid w-100 object-fit-cover">
                </div>
                {% endif %}
                <div class="p-2 py-md-4">
                    <div class="d-flex flex-column flex-md-row justify-content-between align-item-center">
                        <p class="lead fw-normal fs-4">
                            {{ project.tagline }}
                        </p>
                        {% if project.links %}
                        <div class="mb-2 mb-md-4">
                            {% for link in project.links %}
                            <a href="{{ link.url }}" class="btn btn-dark" role="button">{{ link.label }}</a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="project-modal">
                        {{ project.html_content | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}